@model EfTest.Models.Que

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Que</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
